{% extends "estoque/base.html" %}
{% load static %}

{% block title %}
  {{ livro.name }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if livro.image %}{{ livro.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}">
    <h1>{{ livro.name }}</h1>

     <h2><p class="editora">Editora:{{ livro.editora }}</p></h2>

     <h3><p class="autor">Autor:{{ livro.autor.all}}</p></h3>

    <p class="price">R${{ livro.price }}</p>
     {{ livro.description|linebreaks }}
    <h3><p class="paginas">Páginas:{{ livro.paginas }}</p></h3>
    <h3><p class="data">Inserido em: {{ livro.created}}</p></h3>

  </div>
{% endblock %}